body {
  margin: 0;

}

button{
  height: 100px;
  width: 200px;
}

.navButtonContainer{
  position: fixed;
}

.windowBoxContainer{
  position: fixed;
  display: flexbox;
  align-items: start;
  justify-content: center;
  margin: 15vh;
  background-color: grey;
}